body {
    background-color: #fafafa;
    font-family: 'Roboto';
}

button {
    width: 151px;
    height: 40px;
    font-size: 21px;
    color: #EC362D;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    background-color: #FAFAFA;
}

h1 {
    font-size: 20px;
    font-weight: 700;
}

img {
    width: 340px;
    height: 181px;

}

ion-icon {
    font-size: 20px;
    color: #EC362D;
}

.topo {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 69px;
    position: fixed;
    top: 0;
    background-color: #EC362D;
    font-size: 37px;
    font-weight: 700;
    color: #ffffff;
    box-shadow: 0px 5px 10px rgba(0, 2, 2, 0.5);
    display: flex;
    z-index: 1;
}

.espacamento1 {
    height: 100px;
}

.espacamento2 {
    height: 40px;
}

.espacamento3 {
    width: 10px;
}

.feed {
    align-items: center;
    justify-content: center;
    margin-right: 10%;
    margin-left: 10%;
}

.inicio-feed {
    align-items: center;
    justify-content: center;
    display: flex;
}

.container-novo-quiz {
    height: 181px;
    width: 100%;
    align-items: center;
    justify-content: center;
    border: 1px dashed #d4d4d4;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.texto-novo-quiz {
    font-size: 20px;
    color: #B9B9B9;
    font-weight: 400;
}

.container-quiz-prontos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.container-quiz-pessoais {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.quiz-site {
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background: linear-gradient(transparent, 60%, black);
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: absolute;
}

.quiz-site-img{
    background-image: url("../img/quizz/furão.png");
    width: 340px;
    height: 181px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
    margin-right: 20px;
}

.quiz-site-texto {
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    position: absolute;
    bottom: 15px;
    justify-content: center;
    text-align: left;
    left: 20px;
}

.ocultar {
    display: none;
}

.seus-quizes {
    display: flex;
}


/* Aqui começa o css específico para criar o quizz */

h2 {
    font-size: 23px;
    font-weight: 700;
}

input {
    width: 550px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #D1D1D1;
    outline: none;
}

input::placeholder {
    color: #BABABA;
    font-size: 19px;
    font-weight: 400;
    font-style: italic;
}

.espacamento4 {
    height: 20px;
}

.toda-pag {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.container-criar-quiz {
    height: 256px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 2, 2, 0.5);
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.botao1 {
    height: 54px;
    width: 368px;
    background-color: #EC362D;
    color: #FFF5F4;
    border-radius: 15px;
    font-size: 21px;
    font-weight: 400;
}

/* 2ª parte do criar quizz */

h3 {
    font-size: 20px;
    font-weight: 700;
}

.tamanho{
    width: 600px;
}

.tamanho-in{
    width: 564px;
    height: 46px;
}

.container-criar-perguntas {
    height: 825px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 2, 2, 0.5);
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container-pergunta-fechada {
    width: 600px;
    height: 74px;
    display: flex;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 2, 2, 0.5);
}

.container-pergunta-fechada-bloco {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.conf-ion {
    font-size: 26px;
    color: #000000;
}

/* 3ª parte do criar quizz - NÍVEIS */

.container-criar-niveis{
    height: 316px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 2, 2, 0.5);
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* 4ª parte do criar quizz - QUIZZ PRONTO */

.quiz-pronto-pessoal {
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background: linear-gradient(transparent, 60%, black);
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: absolute;
}

.quiz-pronto-pessoal-img{
    background-image: url("../img/quizz/furão.png");
    width: 500px;
    height: 266px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
}

.botao2 {
    height: 44px;
    width: 250px;
    background-color: #EC362D;
    color: #FFF5F4;
    border-radius: 15px;
    font-size: 23px;
    font-weight: 400;
}

.voltar-home{
    font-size: 21px;
    font-weight: 400;
    color: #818181;
}

@media (max-width: 1100px) {
    .feed {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .quiz-pronto-pessoal-img{
        width: 340px;
        height: 181px;
        box-sizing: border-box;
    }

    .tamanho {
        width: 100%;
    }

    .container-pergunta-fechada {
        width: 100%;
        height: 74px;
    }

    input{
        width: 341px;
        height: 46px;

    }

    .quiz-site-img{
        margin: 0 auto;
    }
    
}