#{
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
    font-family: 'Roboto';
}

button {
    width: 151px;
    height: 40px;
    font-size: 21px;
    color: #EC362D;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    background-color: #FAFAFA;
    cursor: pointer;
}

h1 {
    font-size: 20px;
    font-weight: 700;
}

img {
    width: 340px;
    height: 181px;

}

ion-icon {
    font-size: 20px;
    color: #EC362D;
    cursor: pointer;
}

.topo {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 69px;
    position: fixed;
    top: 0;
    background-color: #EC362D;
    font-size: 37px;
    font-weight: 700;
    color: #ffffff;
    box-shadow: 0px 5px 10px rgba(0, 2, 2, 0.5);
    display: flex;
    z-index: 1;
}

.conteudo{
    margin-top: 150px;
}

.espacamento1 {
    height: 100px;
}

.espacamento2 {
    height: 40px;
}

.espacamento3 {
    width: 10px;
}


.feed {
    align-items: center;
    justify-content: center;
    margin-right: 10%;
    margin-left: 10%;
}

.inicio-feed {
    align-items: center;
    justify-content: center;
    display: flex;
}

.container-novo-quiz {
    height: 181px;
    width: 100%;
    align-items: center;
    justify-content: center;
    border: 1px dashed #d4d4d4;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.texto-novo-quiz {
    font-size: 20px;
    color: #B9B9B9;
    font-weight: 400;
}

.container-quiz-prontos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.container-quiz-pessoais {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.quiz-site {
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background: linear-gradient(transparent, 60%, black);
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: absolute;
}

.quiz-site-img{
    background-image: url("../img/quizz/furão.png");
    width: 340px;
    height: 181px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
    margin-right: 20px;
}

.quiz-site-texto {
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    position: absolute;
    bottom: 15px;
    justify-content: center;
    text-align: left;
    left: 20px;
}


.seus-quizes {
    display: flex;
}

.ocultar {
    display: none;
}

.exibir-quiz{
    width: 33.333%;
    padding: 12px;
}

/* Aqui começa o css específico para criar o quizz */

h2 {
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 30px;
}

input {
    width: 550px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #D1D1D1;
    outline: none;
}

input::placeholder {
    color: #BABABA;
    font-size: 19px;
    font-weight: 400;
    font-style: italic;
}

.espacamento4 {
    height: 20px;
}

.toda-pag {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.container-criar-quiz {
    height: 256px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 2, 2, 0.5);
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 40px;
}

.botao1 {
    height: 54px;
    width: 368px;
    background-color: #EC362D;
    color: #FFF5F4;
    border-radius: 15px;
    font-size: 21px;
    font-weight: 400;
}

/* 2ª parte do criar quizz */

h3 {
    font-size: 20px;
    font-weight: 700;
}

.tamanho{
    width: 600px;
}

.tamanho-in{
    width: 564px;
    height: 46px;
}

.novo-container-cp{
    background: #fff;
    margin-bottom: 16px;
    box-shadow: 0px 1px 3px rgba(0, 2, 2, 0.5);
    padding: 16px 0;
} 

.container-criar-perguntas {
    height: 825px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 2, 2, 0.5);
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 16px;
}

.p-fechada{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.container-perguntas{
    margin-bottom: 40px;
}

.container-pergunta-fechada {
    width: 600px;
    height: 74px;
    display: flex;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 2, 2, 0.5);
}

.container-pergunta-fechada-bloco {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.conf-ion {
    font-size: 26px;
    color: #000000;
}

/* 3ª parte do criar quizz - NÍVEIS */

.container-niveis{
    margin-bottom: 40px;
}

.container-criar-niveis{
    height: 316px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 2, 2, 0.5);
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* 4ª parte do criar quizz - QUIZZ PRONTO */

.quiz-pronto-pessoal {
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background: linear-gradient(transparent, 60%, black);
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: absolute;
}

.quiz-pronto-pessoal-img{
    background-image: url("../img/quizz/furão.png");
    width: 500px;
    height: 266px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
}

.botao2 {
    height: 44px;
    width: 250px;
    background-color: #EC362D;
    color: #FFF5F4;
    border-radius: 15px;
    font-size: 23px;
    font-weight: 400;
}

.voltar-home{
    font-size: 21px;
    font-weight: 400;
    color: #818181;
    cursor: pointer;
}

/* CSS DO TELA 2 - JOGO DO QUIZ */

.container-topo-quiz{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.topo-quiz{
    background-image: url("../img/Capa-quizz/hogwarts.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 227px;
    position: relative;
    object-fit: cover;
}

.texto-quiz{
    background: linear-gradient(transparent, 30%, black);
    /* opacity: 0.6; */
    width: 100%;
    height: 100%;
    position: absolute;
}

h4{
    color: #FFFFFF;
    font-size: 39px;
    font-weight: 400;
    margin-top: 80px;
}

.espacamento5{
    height: 69px;
}

.container-op-quiz{
    display: flex;
    width: 759px;
    height: 676px;
    background-color: #FFFFFF;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.containter-interno-op{
    width: 90%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pergunta-quiz{
    width: 100%;
    height: 138px;
    background-color: #434CA0;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    color: #FFFFFF;
}

.img-quiz{
    width: 330px;
    height: 176px;
    background-image: url('../img/quizz/harry.png');
    background-repeat: no-repeat;
    background-size: cover;
}

h5{
    font-size: 20px;
    font-weight: 700;
    color: #000000;
}

.errado{
    opacity: 0.5;
    color: #FF4B4B;
}

.correto{
    color: #009C22;
}

/* CSS resultado quizz */

.container-resultado{
    display: flex;
    width: 759px;
    height: 430px;
    background-color: #FFFFFF;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.containter-interno-result{
    width: 90%;
    height: 90%;
}

.resultado-quiz{
    width: 100%;
    height: 99px;
    background-color: #EC362D;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    color: #FFFFFF;
}

.img-resultado{
    width: 364px;
    height: 273px;
    background-image: url('../img/quizz/dumbledor.png');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.disposicao{
    display: flex;
}

.quebrar-texto{
    word-wrap: break-word;
    width: 328px;
    font-size: 20px;
    text-align: justify;
}

.espacamento6{
    width: 20px;
}

.botao3 {
    height: 52px;
    width: 260px;
    background-color: #EC362D;
    color: #FFF5F4;
    border-radius: 15px;
    font-size: 23px;
    font-weight: 400;
}

@media (max-width: 1100px) {
    .feed {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .conteudo{
        margin-top: 120px;
    }

    .quiz-pronto-pessoal-img{
        width: 340px;
        height: 181px;
        box-sizing: border-box;
    }

    .tamanho {
        width: 100%;
    }

    .container-pergunta-fechada {
        width: 100%;
        height: 74px;
    }

    input{
        width: 341px;
        height: 46px;

    }

    .quiz-site-img{
        margin: 0 auto;
    }

    .topo-quiz{
        height: 142px;
    }

    h4{
        font-size: 23px;
        margin-top: 60px;
    }

    .container-op-quiz{
        width: 100%;
        height: 436px;
    }

    .pergunta-quiz{
        height: 89px;
    }
    
    .img-quiz{
        width: 163px;
        height: 113px;
        background-color: green;
    }

    h5{
        font-size: 13px;
    }

    .container-resultado{
        width: 100%;
        height: 500px;
    }

    .img-resultado{
        width: 100%;
        height: 255px;
        margin-bottom: 20px;
    }

    .disposicao{
        flex-direction: column;
    }

    .quebrar-texto{
        word-wrap: break-word;
        width: 328px;
        font-size: 17px;
        text-align: justify;
    }

    h2{
        font-size: 19px;
    }

    .botao3 {
        height: 44px;
        width: 219px;
        font-size: 18px;
        font-weight: 400;
    }

    .exibir-quiz{
        width: 100%;
    }

}